body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.airplane_h4{margin: 20px !important; color: #1565c0;font-style: italic;}
.airplane_header_img{max-height: 400px;}
.aero_seats{display: inline-flex;padding: 10px;border: 1px solid #000;margin: 5px;}
.aero_seats.window{background: #32a852;}
.aero_seats.middle{background: #cf2d48;}
.aero_seats.aisle{background: #4c88e0;}